In [10]:
import pandas as pd

In [18]:
df = pd.read_csv('position_gps_des_stations_de_métro_copy.csv')

In [12]:
df_cleaned = df.drop_duplicates(subset="Station", keep="first")

In [14]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [15]:
df_cleaned

              Station                                     GPS
0           Boucicaut    48.84109405724891, 2.287945766487378
1              Bourse   48.86865415183625, 2.3413760511435733
2          Bir-Hakeim   48.85394260621378, 2.2893345327788075
3           Argentine   48.87533684211653, 2.2901275088247015
4           Daumesnil   48.83954964556868, 2.3957032894363937
..                ...                                     ...
256  Église de Pantin   48.893149985759834, 2.412763044547627
257     Château d'Eau    48.87262083992817, 2.356153947450339
258        Guy Môquet  48.892206827747096, 2.3272198679191285
259           Monceau    48.88032518647405, 2.308773835955807
260              Rome   48.88233342370702, 2.3218017310631685

[261 rows x 2 columns]

In [ ]:
df_cleaned.to_csv('position_gps_des_stations_de_métro_cleaned.csv',index=False)